/* Common Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.btn-common {
  background-color: #e55473;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 23px;
}

.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0;
}

.section-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* Banner Related Styles start */
.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 100px 0 200px;
  max-width: 1075px;
}

.banner-details {
  max-width: 750px;
}
.banner-section {
  background-color: rgba(229, 84, 115, 0.1);
}

.banner-heading {
  color: #272727;
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 0;
}
.banner-description {
  margin-top: 32px;
  margin-bottom: 0;
}

.btn-shop-now {
  margin-top: 50px;
}
/* Banner Related Styles end */

/* Featured Related styles start */

.featured-section {
  max-width: 1075px;
  margin: auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0;
}
.featured-details-container {
  max-width: 590px;
  align-items: center;
  margin: auto;
}
.featured-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  margin-top: 20px;
}
.img-box1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 28px 20px;
  height: 400px;
}
.img-box2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 28px 5px;
  width: 340px;
  height: 400px;
}

.img-box3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 28px 20px;
  height: 400px;
}
.img-box3 img {
  height: 430px;
}
.img-box2 a {
  padding-top: 50px;
}
.flower-name-container {
  display: flex;
  justify-content: space-around;
}

/* Featured Related styles start */

/* Flower for special occasion related styles start */
.spcial-occasions {
  margin: auto;
  margin-top: 60px;
  text-align: center;
  align-items: center;
}

.special-occasion-flower-photo {
  margin: auto;
  text-align: center;
}
.special-occasion-flower-photo img {
  width: 1075px;
  height: 600px;
  border-radius: 8px;
}
.occasion-section-description {
  max-width: 590px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Flower for special occasion related styles End */

/* Support section related styles start */
.support-section {
  max-width: 1075px;
  margin: auto;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-top: 60px;
  padding: 70px 0;
}
.support-items-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Hot Deal Related Styles start */
.hot-deal {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  max-height: 620px;
}
.hot-deal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 100px 200px;
  gap: 90px;
}
.hot-deal-details {
  max-width: 594px;
}
.hot-deal-title {
  margin-bottom: 0;
}
.hot-deal-description {
  margin-top: 24px;
  margin-bottom: 0;
}
.btn-sign-up {
  margin-top: 32px;
}
#hot-deal {
  max-width: 100%;
  margin-top: 60px;
}

/* Hot Deal Related Styles End */

/* Instagram related styles start */
.instagram {
  margin-top: 60px;
}
.instagram-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
}
.instagram-photo-container img {
  width: 250px;
  height: 280px;
  margin-top: 25px;
}
.instagram-details {
  max-width: 590px;
  margin: auto;
  text-align: center;
}

.instagram-description {
  margin-top: 20px;
  margin-bottom: 0;
}
/* Instagram related styles End */

/* Latest-Deals related Styles start */
.latest-deals-container {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 70px 80px;
}
.latest-deals {
  background-image: url("../Flower Asset/Rectangle 9.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  text-align: center;
  margin-top: 60px;
  border-radius: 5px;
  max-width: 1075px;
}
.latest-deals-title {
  margin-bottom: 0;
}
.latest-deals-description {
  margin-top: 10px;
}
.latest-deals-container input[type="email"] {
  padding: 15px 25px;
  width: 70%;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
}
/* Latest-Deals related Styles End */

/* Footer section related styles start */
footer {
  background-color: #111010;
  margin-top: 60px;
}
.footer-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  padding: 80px 100px;
}

footer span {
  color: #e55473;
}
.footer-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.copy-right {
  color: rgba(255, 255, 255, 0.4);
}
/* Footer section related styles End */
